/* 
//grid
//НЕОБХОДИМО
display: grid; //свойство display со значение grid создаёт грид-контейнер
grid-template: 1 / 1; //создаёт сетку / краткая форма grid-template-columns и grid-template-rows
grid-area: 1 / 1 / 1 / 1; //выбор элемента / краткая форма grid-column и grid-row
grid-column: span 1; //span задаёт значение в зависимости от противоположного элемента, не может быть отрицательным
grid-template: repeat(1, 1); //функция repeat() упращает создание столбцов, где первый элемент количевство, а второй размер
grid-template: 1fr; //fr создат дробную единицу измерения
order: 1; //задаёт порядок для элемента, изначально все элементы равны 0

//МОЖНО ИСПОЛЬЗОВАТЬ
grid-template-columns: 1; //задаёт сетку по горизонтали  
grid-template-rows: 1; //задайта сетку по вертикали
grid-column: 1 / 1; //выбор элемента по горизонтали / краткая форма grid-column-start и grid-column-end
grid-row: 1 / 1; //выбор элемента по вертикали / краткая форма grid-row-start и grid-column-end

//БРЕД
grid-column-start: 1; //выбор начального элемента по горизонтали
grid-column-end: 1; //выбор конечного элемента по горизонтали
grid-row-start: 1; //выбор начального элемента по вертикали
grid-row-end: 1; //выбор конечного элемента по вертикали

//flex
display: flex; // свойство display со значением flex создаёт флекс-контейнер
justify-content: значение; //выравнивает расстояние между элементами горизонтально
                 flex-start; //элементы выравниваются по левой стороне
                 flex-end; //элементы выравниваются по правой стороне
                 center; //элементы выравниваются по центру контейнера
                 space-between; //элементы отображаются с одинаковыми отступами между ними
                 space-around; //элементы отображаются с одинаковыми отступами вокруг них
align-content: значение; //выравнивает расстояние между элементами вертикально
               flex-start; //ряды группируются в верхней части контейнера
               flex-end; //ряды группируются в нижней части контейнера
               center; //ряды группируются вертикально по центру контейнера
               space-between; //ряды отображаются с одинаковыми расстояниями между ними
               space-around; //ряды отображаются с одинаковыми расстояниями вокруг них
               stretch; // ряды растягиваются, чтобы заполнить контейнер равномерно
align-items: значение; //выравнивает вертикально
 align-self: значение; //выравнивает вертикально определённый элемент
             flex-start; //элементы выравниваются по верхнему краю 
             flex-end; //элементы выравниваются по нижнему краю 
             center; //элементы выравниваются вертикально по центру 
             baseline; //элементы отображаются на базовой линии
             stretch; //элементы растягиваются, чтобы заполнить контейнер
flex-flow: значение; // объеденяет свойства flex-direction и flex-wrap               
flex-direction: значение; //задаёт направление элементов
                row; //элементы размещаются в обычном порядке
                row-reverse; //элементы отображаются в обратном порядке
                column: элемент; //элементы располагаются сверху вниз
                column-reverse; //элементы располагаются снизу вверх
flex-wrap: значение; //переносит элементы
           nowrap; //размеры элементов устанавливаются автоматически, чтобы они поместились в один ряд
           wrap; //элементы автоматически переносятся на новую строку
           wrap-reverse; //элементы автоматически переносятся на новую строку, но строки расположены в обратном порядке
order: 1; //задаёт порядок для элемента, изначально все элементы равны 0

какой-то текст
*/
